body {
  background: #141414;
  color: #fff;
}

.movie-app > .row {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: #454545;
  width: 64%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 5px;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  height: 65px;
}
